
/*
 * sticky footer style, taken from
 *
 * https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 4em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: #f8f8f8;
}

.footer .row {
  line-height: 4em; /* Vertically center the text there */
}

.icon-bytesize {
  vertical-align: middle;
}
