body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav.bg-dark {
  background-color: #175 !important;
}

a.no-style {
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

a.no-style:hover {
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em;
  background-color: #f8f8f8;
}

.footer .row {
  line-height: 6em; /* Vertically center the text there */
}
